<%= "#{@auth}" %>

<div class="container">
	<div class="row">
		<div class="span12">
			<h1>Welcome to the Dropsonde Gateway</h1>
		</div>
	</div>
	<%= form_for User.new, :url =>  { :action => "create" }, 
						   :html => { :class => 'create' },
						   :method => 'post' do |f| %>

			<%= f.hidden_field :username, :value => @username %>
			<%= f.hidden_field :auth_token, :value => @auth_token %>
			<%= f.hidden_field :auth_secret, :value => @auth_secret %>

<!-- SMS number -->
	<div class="row">
		<div class="span1">
			<strong><%= f.label :sms, 'SMS #' %></strong>
		</div>
		<div class="span1">
			<%= f.text_field :sms %>
		</div>
	</div>

	<div class="row">
		<div class="span4"><p></p></div>
		<div class="span4">
		  <%= f.submit "Create" %>
		</div>
		<div class="span4"><p></p></div>
	</div>
	<% end %>

</div>
