<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Auth token:</b>
  <%= @user.auth_token %>
</p>

<p>
  <b>Auth secret:</b>
  <%= @user.auth_secret %>
</p>

<p>
  <b>Sms:</b>
  <%= @user.sms %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
